@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/alarm.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color);
    padding-top: 25px;
    padding-bottom: 80px;
}

.main__screen {
    padding: 0px var(--horizontal-space);
}